{% extends 'app/cliente/base2.html' %} {% block contenido %} {% load static %} {% load humanize %}
<div class="container">
    <h4>CARRITO DE COMPRAS</h4>
    <div class="bg-white text-center rounded p-4">
        <table class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
                <tr class="text-black">
                    <th scope="col"></th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Nombre producto</th>
                    <th scope="col">precio</th>
                    <th scope="col">% Desc subscriptor</th>
                    <th scope="col">%Desc oferta</th>
                    <th scope="col">precio final</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Perros</td>
                    <td>Saco Royan Canin 3kg</td>
                    <td>$8.000</td>
                    <td>0%</td>
                    <td>2%</td>
                    <td>$7.840</td>
                    <td><a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Perros</td>
                    <td>Hueso gris 3kg</td>
                    <td>$1.260</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>$1.160</td>
                    <td><a href="#">Eliminar</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Perros</td>
                    <td>Pelota de juguete</td>
                    <td>$8.000</td>
                    <td>0%</td>
                    <td>0%</td>
                    <td>$1.000</td>
                    <td><a href="#">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="bg-white text-center rounded p-4">
        <div class="col">
            <table class="table text-start align-right table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th scope="col" style="visibility: hidden;">nadaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</th>
                        <th scope="col">Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th scope="col">$10.000</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div style="float: right;">
        <a href="#" class="btn btn-primary">Pagar</a>
    </div>
</div>
{% endblock %}


