{% extends 'app/cliente/base2.html' %} {% block contenido %} {% load static %}
<div class="container">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h4>MANTENEDOR DE USUARIOS</h4>
    </div>
    <br>
    <form class="borde-bootstrap-row col-md-6" action="" method="post" >
        <div class="row borde-bootstrap-row">
            {% csrf_token %}
 
                
                {{ form }}

        <div class="row borde-bootstrap-row">
            <button type="submit" class="btn btn-primary">Guardar</button> &nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-tertiary">Nuevo</button> &nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-secondary">Limpiar</button>
        </div>
    </form>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-whitetext-center rounded p-4">
            <div class="">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-black">
                            <th scope="col">ID</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Ultima Conexion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in user %}
                        <tr>
                            <td>{{ u.id }}</td>
                            {% if request.user.is_staff %}
                            <td> Registrado </td>
                            {% endif %}
                            <td>{{ u.first_name }}</td>
                            <td>{{ u.last_name }}</td>
                            <td>{{ u.email }}</td>
                            <td>{{ u.last_login|date:"d M" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'app/js/validacion-formulario.js' %}"></script>
{% endblock %}

